h1{
    font-size: 42px;
}
*{
    margin:0;
}

body{
    background-color: #57bfff!important;
}

.container{
    margin-bottom: 50px;
}

img{max-width: 100% !important;}

.navbar {
    background-color: #57bfff !important;
    font-weight: bold;
}


.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
    align-items: center;
    margin:0;
    background-image: url("/img/img.jpg");
    background-size: cover;
}

.hero .row{
    height: 80vh; width: 100vw!important;
    margin: 0!important;
    max-width: 100% !important;
}

.hero .row .col-5{
    margin: 0!important;
    padding: 0!important;
}

.hero button{
    width: 100%!important;
    max-width: 250px !important;
    height: 60px!important;
    min-height: 60px!important;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

}
.appStoreBtn{
    background: url("/img/appstore.png") !important;
    background-size: 100% 100% !important;
}
.playStoreBtn{
    background-image: url("/img/play.png") !important;
    background-size: 100% 100% !important;
}

.downloadBtn{
    background-color: rgb(240, 139, 8);
    font-weight: bold;
    color: white !important;
    font-size: 20px;
}

.video{

    background-color: rgb(240, 139, 8);
}

h1{
    text-align: center;
    color: white;
}



.pricing{
    background-color: #57BFFF;
    padding-bottom: 0;
    padding-top:60px;
}


.pricing p{
    font:bold 40px 'Open Sans', sans-serif;
    text-align: center;
    color:#fff;
}
.pricing .rounded-lg {
    border-radius: 1rem !important;
}

.pricing .text-small {
    font-size: 0.9rem !important;
}

.pricing .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.pricing .text-uppercase {
    letter-spacing: 0.2em;
}


.mission-vision{
    color: #000000;

    background-color: #57BFFF;
    margin:0;
    padding:0;

}
.mission-vision .capa{
    display:flex;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.mission-vision .capa h5 {
    font: bold 25px 'Open Sans', sans-serif;
    margin-bottom: 25px;
    color:rgb(253, 252, 250);

    align-content: center;
    float: right;
    text-align: center;
    align-items: end;
    vertical-align: middle;
    padding-left: 90px;
}
.mission-vision p{
    color:rgb(253, 252, 250);
    font: bold 25px 'Open Sans', sans-serif;

    margin: 15px 15px;

    float: right;
    padding-left: 90px;
    padding-right: 90px;

}
.mission-vision img{
    width:70%;
    height:890px;
    background-size:cover;
    margin:0;
    float: left;
    padding: 0;
}


.coverage{
    justify-content: center;

    color: #fff;
    text-align: center;
    background-color: #34d8f5;
    margin:0;
    padding:0;
    align-items: center;
}
.coverage .background-image{

    top: 0;
    left: 0;
    width:100%;
    height: 560px;
    background-size:cover;
    background-color: #414a4f;
    margin:0;
    display: flex;
    flex-wrap: wrap;

}

.coverage h6 {
    font: bold 41px 'Open Sans', sans-serif;

    position: absolute;

    padding-right: 600px;

}
.coverage p{

    font: 21px 'Open Sans', sans-serif;
    left:35px;

}




.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white !important;
    background-color: rgb(240, 139, 8);
    padding: 15px 0;
}
footer ul{
    display: flex;
    font-size: 32px;
}

footer ul li{
    margin: 0 8px 0px;
}

footer ul li:first-child{
    margin-left: 0;
}
footer ul li:last-child{
    margin-right: 0;
}
footer p {
    margin-bottom: 0px;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.9;
    font-weight: bold;
}


@media(max-width: 700px){

    .hero .row{
        height: 50vh; width: 100vw!important;
        margin: 0!important;
        max-width: 100% !important;
    }

    .hero .row .col-5{
        width: 90vw!important;
    }

    .card{
        margin-bottom: 10px;
    }

    .pricing .col-lg-4 {
        width: 370px;
        margin-left: 40px;
    }
    .pricing{
        justify-content: center;
    }
    .pricing p{
        font-size: 20px;
    }

    .mission-vision p{
        font-size: 15px;
        margin: 40px;
        margin-left: -40px;
        padding-left: 0px;
        padding-right: 9px;
    }
    .mission-vision .capa{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        vertical-align: middle;
    }
    .mission-vision img{
        width: 450px;
        height:890px;
        display: none;
    }

    .coverage h6 {
        font-size: 20px;
        margin-top: 20px;
        padding-right: 90px;
    }
    .coverage .background-image{
        width: 445px;
        height: 360px;
    }
}
